
<div style="background-image: url('../../assets/login.jpg');background-size: cover;">

<div class="container" >
    <div class="row">
        <div class="col-4" style="margin-top: 10%; background-color:whitesmoke; opacity: .8; margin-left: 35%;">
            <form action="" [formGroup]="form">
                <label for="">Name</label>
                <input type="text" class="form-control" formControlName="name" style="width: 80%;">
                <label for="">Password</label>
                <input type="password" class="form-control" formControlName="password" style="width: 80%;"><br><br>
                <button class="btn btn-primary" [disabled]="!form.valid" [routerLink]="['/display']" routerLinkActive="router-link-active"  >Login </button>
            </form>
        </div>
    </div>
</div>
</div>
