<app-header></app-header><br>
<div class="container-fluid" [ngClass]="'baner'">

    <img [ngClass]="'banerimg'"
        src="https://www.federalbank.co.in/documents/10180/24273596/Health+Insurance.jpg/0b2abe32-0cef-e548-f47a-c447a40d7950?t=1591769859823">
    <div class="text-block">

        <h1>Your Health Insurance Specialist</h1>
        <p>Health Plans Crafted wiht care for your loved ones </p>
    </div>
</div>
<app-carousel></app-carousel>
<app-plans></app-plans>
<app-cards></app-cards>
<app-rating></app-rating>
<app-footer></app-footer>