<footer class="page-footer font-small elegant-color" style="background-color:  rgba(5, 51, 102, 0.97);">
    <div class="container text-center text-md-left pt-4 pt-md-5">
        <div class="row mt-1 mt-md-0 mb-4 mb-md-0">
            <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">


                <h5 style="font-size: smaller; color: gray;">Mail Us:</h5>
                <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

                <p class="foot-desc mb-0" style="color: white; font-size: small;">Holistic.medicare@gmail.com
                    Insurance@holisticweb.com</p>

            </div>


            <hr class="clearfix w-100 d-md-none">


            <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">


                <h5 style="color:gray; font-size: smaller;">About:</h5>
                <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

                <div class="list-unstyled foot-desc" style="font-size: small; color: white;">
                    <li class="mb-2">
                        <a class="footer_links" href="#">Contact Us</a>
                    </li>
                    <li class="mb-2">
                        <a class="footer_links" href="#">About Us</a>
                    </li>
                    <li class="mb-2">
                        <a class="footer_links" href="#">Press</a>
                    </li>
                    <li class="mb-2">
                        <a class="footer_links" href="#">Careers</a>
                    </li>
                </div>

            </div>


            <hr class="clearfix w-100 d-md-none">


            <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">


                <h5 style="color: gray; font-size: smaller;">SOCIAL</h5>
                <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

                <div class="list-unstyled foot-desc" style="font-size: small; color: white;;">
                    <!-- <li class="mb-2"> -->
                        <a class="footer_links" href="#"><i class="fab fa-facebook-f"></i></a>
                    <!-- </li>
                    <li class="mb-2"> -->
                        <a class="footer_links" href="#"><i class="fab fa-instagram"></i></a>
                    <!-- </li>
                    <li class="mb-2"> -->
                        <a class="footer_links" href="#"><i class="fab fa-twitter"></i></a>
                    <!-- </li>
                    <li class="mb-2"> -->
                        <a class="footer_links" href="#"><i class="fab fa-telegram-plane"></i></a>
                    <!-- </li> -->
                </div>

            </div>


            <hr class="clearfix w-100 d-md-none">


            <div class="col-md-3 mx-auto mt-3 mt-md-0 mb-0 mb-md-4">


                <h5 style="font-size: smaller; color: gray;">Registered Office Address:</h5>
                <hr class="color-primary mb-4 mt-0 d-inline-block mx-auto w-60">

                <ul class="fa-ul foot-desc ml-4" style="color: white; font-size: small;">
                    Holistic Medicare Insurance Company Limited,

                    Buildings Alyssa, Begonia &

                    Clove Embassy Tech Village,

                    Outer Ring Road, Devarabeesanahalli Village,

                    Bengaluru, 560103,

                    Karnataka, India

                    CIN : U51109KA2012PTC066107<br>

                    Telephone: 1800 202 9898
                </ul>

            </div>


        </div>


    </div>

    <div class="footer-copyright text-center py-3" style="color: white;">© 2021 Copyright:
        Holistic-Medicare.com
    </div>
</footer>