<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Your Cart</h1>
            <div class="card text-center" *ngFor="let rest of restList">
                <div>

                
                <div class="card-header" *ngIf="rest.id == id">
                 <h1>{{rest.rest_name}}   </h1> 
                
                <div class="card-body">
                  <h5 class="card-title">{{rest.rest_address}}</h5>
                  <p class="card-text">{{rest.rest_number}}</p>
                  <a [routerLink]="['/delivery']" routerLinkActive="router-link-active"  class="btn btn-primary">Buy Now</a>
                </div>
                <div class="card-footer text-muted">
                 <h3> Grand Total Bill  {{rest.amount | currency:"USD"}}  </h3> 
                </div>
            </div>
            </div>
              </div>
        </div>
    </div>
</div>
