<section class="rating_card bg-white faqs-awards-wrap">
    <div class="il-home-container">
        <div class="row" style="width: 100%;">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 rating_carousel">
                <div class="faqs-block">
                    <h2 class="heading-h2">A happy you, makes a happy us.</h2>
                </div>
                

                
                <div class="rating" style="width: 100% !important;">
                    <div class="carousel1 modal-body row" style="width: 48%!important;">
                        <div id="carouselExampleIndicators" class="carousel slide boxwrap" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../../../assets/images/image1.jpg" class="d-block w-100 textoverimg"
                                        alt="...">
                                    <h4>Shamin Mohan</h4>&nbsp;
                                    <img src="../../../assets/images/favourite.png" class="imagestar">
                                    <img src="../../../assets/images/favourite.png" class="imagestar">
                                    <img src="../../../assets/images/favourite.png" class="imagestar">
                                    <img src="../../../assets/images/favourite.png" class="imagestar">
                                    <img src="../../../assets/images/favourite.png" class="imagestar">
                                    <p class="textover"> I have been a customer of ICICI Lombard and very happy with
                                        the service
                                        provided and cashless hospitalisation with no worries and now I have
                                        included my son and wife also
                                        with ICICI Lombard. Will suggest
                                        everyone for the best service provided.</p>
                                </div>
                                <div class="carousel-item">
                                    <img src="../../../assets/images/image3.jpg" class="d-block w-100 textoverimg"
                                        alt="...">
                                    <h4>Tarak Desai</h4>&nbsp;

                                    <img src="../../../assets/images/favourite.png" class="imagestar">
                                    <img src="../../../assets/images/favourite.png" class="imagestar">
                                    <img src="../../../assets/images/favourite.png" class="imagestar">
                                    <img src="../../../assets/images/favourite.png" class="imagestar">
                                    <p class="textover">Two main and important things I would like to highly
                                        appreciate. First, buying
                                        Insurance Online is "Super Experience" and in case you are fi...</p>
                                </div>
                                <div class="carousel-item">
                                    <img src="../../../assets/images/image4.jpg" class="d-block w-100 textoverimg"
                                        alt="...">
                                    <h4>Prince Sachdev</h4>&nbsp;
                                    <img src="../../../assets/images/favourite.png" class="imagestar">
                                    <img src="../../../assets/images/favourite.png" class="imagestar">
                                    <img src="../../../assets/images/favourite.png" class="imagestar">
                                    <p class="textover">I used the mobile self inspection feature within the ICICI
                                        Lombard app for my
                                        car insurance and it was a great experience. I must say, this...</p>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>



                    <div class="carousel1 col-xs-12 col-sm-12 col-md-6 col-lg-6 awards_section">
                        <div class="awards-block">
                            <h2 class="heading-h2 text-center">Awards &amp; recognition</h2>
                            <div class="ime-rightblock-list">
                                <div class="ime-tips-list thumbnailBox award_section">
                                    <img data-feo-orig-src="../../../assets/images/corl.jpg"
                                        class="lazy loaded award_img" src="../../../assets/images/corl.jpg"
                                        data-ll-status="loaded">
                                    <script blzsys="1"
                                        type="text/javascript">aFeoOverrideAttrRead('img', 'src')</script>

                                    <div class="list-right-wrap">
                                        <h5>Voted General Insurance Superbrand by Consumers</h5>
                                        <p>Being awarded as a Superbrand is a testimony of our customer-centric
                                            approach in providing
                                            insurance solutions, while delivering on our promise.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="more-awards">
                            <a class="read-more" href="#">More awards...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>