<div class="row">
    <div class="col-12">
        <table class="table" *ngFor="let x of obj">
            <thead>
              <tr>
               
                <th scope="col">Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">@mail</th>
              </tr>
            </thead>
            <tbody>
              <tr>
            
                <td>{{x.name}}</td>
                <td>{{x.phone}}</td>
                <td>{{x.email}}</td>
              </tr>
                            
            </tbody>
          </table>
    </div>
</div>
