<div class="container">
    <div class="row">
        <div class="col-12" style="margin-left: 40%; margin-top: 10%;">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/delivery-boy.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Dont Worry </h5>
                  <p class="card-text">Just sit back and relax .Your food will be delivered shortly</p>
                  <a [routerLink]="['']" routerLinkActive="router-link-active"  class="btn btn-primary">Back to Home</a>
                </div>
              </div>
        </div>
    </div>
</div>
