<app-header></app-header>
<div class="container">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->

    <ol class="carousel-indicators">

      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

      <li data-target="#myCarousel" data-slide-to="1"></li>

      <li data-target="#myCarousel" data-slide-to="2"></li>

    </ol>





    <div class="carousel-inner">



      <div class="item active">

        <img src="../../assets/images/img5.webp" style="width:100%;height:500px">

      </div>



      <div class="item">

        <img src="../../assets/images/img5.webp" style="width:100%;height:500px">

      </div>



      <div class="item">

        <img src="../../assets/images/health_insurance_12.jpg" style="width:100%;height:500px">

      </div>



    </div>



    <!-- Left and right controls -->

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">

      <span class="glyphicon glyphicon-chevron-left" style="color:navajowhite"></span>

      <span class="sr-only">Previous</span>

    </a>

    <a class="right carousel-control" href="#myCarousel" data-slide="next">

      <span class="glyphicon glyphicon-chevron-right" style="color:navajowhite"></span>

      <span class="sr-only">Next</span>

    </a>

  </div>

</div>


<br>

<br>
<div class="container" style="padding-top: 5%;">
  <!-- <h2>Carousel Example</h2> -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="container pic" style="background-color: rgb(22, 54, 232);">
    <div class="carousel-inner">

      <div class="item active">
        <img src="../../assets/images/back.jfif" style="width:100%;height: 520px; ">
        <div class="carousel-caption">
          <div class="row" style="color: black;">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body" style="height: 300px;">
                  <h5 class="card-title">Customer Id: 120 </h5>
                  <br><br>
                  <p class="card-text">Policy Type: Health</p>
                  <p class="card-text">Policy Name: Cancer Insurance</p>
                  <p class="card-text">Policy Detail: This insurance can only be claimed by 1st stage of cancer</p>

                  <a href="#" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body" style="height: 300px;">
                  <h5 class="card-title">Customer Id: 121</h5>
                  <br><br>
                  <p class="card-text">Policy Type: Health</p>
                  <p class="card-text">Policy Name: Tubercluosis Insurance</p>
                  <p class="card-text">Policy Detail: This insurance can only be claimed by 1st stage of Tubercluosis
                    Insurance</p>

                  <a href="#" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body" style="height: 300px;">
                  <h5 class="card-title">Customer Id: 122</h5>
                  <br><br>
                  <p class="card-text">Policy Type: Health</p>
                  <p class="card-text">Policy Name: Kidney Failure Insurance</p>
                  <p class="card-text">Policy Detail: This insurance can only be claimed by 1st stage of Kidney Failure
                    Insurance</p>

                  <a href="#" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="../../assets/images/back.jfif" style="width:100%;height: 520px;">
        <div class="carousel-caption">
          <div class="row" style="color: black;">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body" style="height: 300px;">
                  <h5 class="card-title">Customer Id: 123 </h5>
                  <br><br>
                  <p class="card-text">Policy Type: Health</p>
                  <p class="card-text">Policy Name: Paralysis Insurance</p>
                  <p class="card-text">Policy Detail: This insurance can only be claimed by 1st stage of Paralysis
                    Insurance</p>

                  <a href="#" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body" style="height: 300px;">
                  <h5 class="card-title">Customer Id: 124 </h5>
                  <br><br>
                  <p class="card-text">Policy Type: Health</p>
                  <p class="card-text">Policy Name: Cancer Insurance</p>
                  <p class="card-text">Policy Detail: This insurance can only be claimed by 1st stage of cancer</p>

                  <a href="#" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body" style="height: 300px;">
                  <h5 class="card-title">Customer Id: 125</h5>
                  <br><br>
                  <p class="card-text">Policy Type: Health</p>
                  <p class="card-text">Policy Name: Multiple Sclerosis Insurance</p>
                  <p class="card-text">Policy Detail: This insurance can only be claimed by 1st stage of Multiple
                    Sclerosis Insurance</p>

                  <a href="#" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="../../assets/images/back.jfif" style="width:100%;height: 520px;">
        <div class="carousel-caption">
          <div class="row" style="color: black;">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body" style="height: 300px;">
                  <h5 class="card-title">Customer Id: 126</h5>
                  <br><br>
                  <p class="card-text">Policy Type: Health</p>
                  <p class="card-text">Policy Name: Cancer Insurance</p>
                  <p class="card-text">Policy Detail: This insurance can only be claimed by 1st stage of cancer</p>

                  <a href="#" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body" style="height: 300px;">
                  <h5 class="card-title">Customer Id: 127 </h5>
                  <br><br>
                  <p class="card-text">Policy Type: Health</p>
                  <p class="card-text">Policy Name: Cancer Insurance</p>
                  <p class="card-text">Policy Detail: This insurance can only be claimed by 1st stage of cancer</p>

                  <a href="#" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body" style="height: 300px;">
                  <h5 class="card-title">Customer Id: 128 </h5>
                  <br><br>
                  <p class="card-text">Policy Type: Health</p>
                  <p class="card-text">Policy Name: Cancer Insurance</p>
                  <p class="card-text">Policy Detail: This insurance can only be claimed by 1st stage of cancer</p>

                  <a href="#" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div></div>


    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<br><br><br>

<app-enter-customer-id></app-enter-customer-id><br><br><br><br><hr>

<div style="background-color: #f2f2f2;" class="container">
  <br><br>
  <div class="text-center">
    <h1>Hassle-free Claims</h1>
    <p>Prompt & Personal, with Star always by your side, 24x7</p>
  </div>

  <div class="row">

    <div class="col-6">

      <img src="../../assets/images/health_insurance_7.png" style="width:500px;height:400px">

    </div>

    <div class="col-6">

      <br>
      <i class="fa fa-address-book"></i>

      <div style="margin-left: 12px;margin-top: -17px;">

        <h3>We are there when you need us the most</h3>

        <p>Panic. Worry. Anxiety. Let none of these trouble you during troubled times.</p>

      </div>

      <br>

      <br>

      <i class="fa fa-ambulance"></i>

      <div style="margin-left: 12px;margin-top: -17px;">

        <h3>Direct cashless claim settlement</h3>

        <p>90% of Cashless claims settled in less than 2 hours</p>

      </div>

      <br>

      <br>

      <i class="fa fa-phone"></i>

      <div style="margin-left: 12px;margin-top: -17px;">

        <h3>Just a call away</h3>

        <p>Reach us at 1800-425-2255/1800-102-4477. Our friendly representative is there to assist you 24x7.</p>

      </div>

      <br>

      <br>

      <h3>The claims settlement process is one of the most important aspects of an insurance policy, especially if it is
        a health cover. Holistic is best at settlement of claims. </h3>

    </div>

  </div>

</div>



<br><br><br>

<div class="container">
  <div class="card-group" style="height:300px">
    <div class="card">
      <img class="card-img-top" src="../../assets/images/health_insurance_1.png" alt="Card image cap"
        style="height: 200px;">
      <div class="card-body">
        <h5 class="card-title"> Commercial Health Insurance</h5>
        <p class="card-text">Holistic Offers corporate solutions for bulk health insurance and are trusted by many big
          companies</p>

      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/images/health_insurance_2.png" alt="Card image cap"
        style="height: 200px;">
      <div class="card-body">
        <h5 class="card-title">Family Health Insurance</h5>
        <p class="card-text">Holistic Offers solutions for family health insurance at great discounts</p>

      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/images/health_insurance_3.png" alt="Card image cap"
        style="height: 200px;">
      <div class="card-body">
        <h5 class="card-title">Kids Health Insurance</h5>
        <p class="card-text">Holistic offers free or low-cost coverage for children under age 19</p>

      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/images/health_insurance_4.png" alt="Card image cap"
        style="height: 200px;">
      <div class="card-body">
        <h5 class="card-title">Travel Health Insurance</h5>
        <p class="card-text">Holistic offers free or low-cost coverage for travel Health insurance</p>

      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/images/health_insurance_5.png" alt="Card image cap"
        style="height: 200px;">
      <div class="card-body">
        <h5 class="card-title">Senior Citizen Health Insurnce </h5>
        <p class="card-text"> Holistic offers free or low-cost coverage for Senior Citizens aged about 60</p>

      </div>
    </div>
  </div>
</div>
<div>
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h1>Get the insurance app</h1>
        <br>
        <h2>Get control of all your insurance needs anywhere, anytime</h2>
        <br>
        <h5><i class="fas fa-star"></i> Compare different insurance policies</h5>
        <br>
        <h5><i class="fas fa-star"></i> Buy, store and share all your policies online</h5>
        <br>
        <h5><i class="fas fa-star"></i> Track your policy status on the go
        </h5>
        <br>
        <h5><i class="fas fa-star"></i> Download your policy with a single tap
        </h5>
      </div>
      <div class="col-sm">

        <img class="space" src="../../assets/images/health_insurance_6.png" alt="Card image cap "
          style="height: 300px;">
      </div>
    </div>
  </div>
  <app-footer></app-footer>